*{
    padding:0;
    margin:0;
}

body{

    background-image: url('../img/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
     max-width: 1440px;
     margin:0 auto;
    
}

.container{
    padding-right:150px;
    padding-left:150px; 
    
}
.header-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:71px;
    position: relative;
    margin-bottom:47px;

    
}
.search{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 20px;
    width:463px;
    align-items: center;
    background-color: #9688E7;
    cursor: pointer;
}
.search_img{
    vertical-align: middle;
    position:absolute;
    top:15px;
    left:20px;

}

.site-search{
    width:336px;
    height: 37px;
    padding-left:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border:none;
}
.search-img_block{
    line-height: 37px;
}
.logo_wrap{
    padding-top:20px;
}
.back_btn-block{
    display: flex;
    justify-content: flex-end;
}
.empty_btn, .back_btn-item{
    width: 124px;
    height: 40px;
    background: linear-gradient(95.92deg, #FFCD29 0.67%, #DE9322 100.91%);
    box-shadow: 2.68446px 2.68446px 6.71116px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    border-style: none;
    }
   
    .dialogue_textarea-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
    }
    .dialogue_header{
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 200;
        font-size: 40px;
        color: #313131;
    }
    .dialogue_img{
        background-image: url('../img/frame.jpg');
        width:133px;
        height: 133px;
        cursor: pointer;
        background-size: contain;
    }
    .dialogur_message{
        padding:10px 15px;
        width: 560px;
        height: 379px;
        background: #FFFFFF;
        border-radius: 20px;
        resize: none;
        
    }
    .white_input{
        width: 558px;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #DE9322;
        border-radius: 20px;
        padding-left:20px;
        padding-top:20px;
        cursor: pointer;
        
    }
    .dialogue_btn-send{
        width: 173px;
        height: 50px;
        background: linear-gradient(95.92deg, #FFCD29 0.67%, #DE9322 100.91%);
        box-shadow: 3.31228px 3.31228px 8.2807px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        border-style: none;
        color: #ffffff;
        text-transform: uppercase;
        padding-left:20px;
        cursor: pointer;
        
        

    }
    .write_dialogue-block{
        display: flex;
        justify-content: center;
        gap:20px;
    }

    @font-face {
        font-family: "inter";
        src: url("inter.woff") format("woff"),
        url("/fonts/inter") format("woff");
        font-weight: normal;
        font-style: normal;
        
      
        
        }