*{
    padding:0;
    margin:0;

}

body{

    background-image: url('../img/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
     max-width: 1440px;
     margin:0 auto;
    
}

.container{
    padding-right:150px;
    padding-left:150px; 
    
}
.site-search{
    width:302px;
    height: 33px;
    padding-left:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border:none;
}



.office_items{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    padding-right: 5px;
}

.exit_items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    border-left:2px solid  #313131;
    padding-left:5px;
    vertical-align: middle;
    padding-top:5px;
    
}
.office_items::before{
  content: url('../img/email.png'); 
  width:27px;
  height:20px;
  color: #313131;
  vertical-align: middle;
  padding-right:20px;
  background-repeat: no-repeat;

}

.office_items{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    padding-right: 5px;
}

.exit_items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    border-left:2px solid  #313131;
    padding-left:5px;
    vertical-align: middle;
    padding-top:5px;
    
}
.office_items::before{
  content: url('../img/email.png'); 
  width:27px;
  height:20px;
  color: #313131;
  vertical-align: middle;
  padding-right:20px;
  background-repeat: no-repeat;

}
hr{
    display: block;
    background:#313131;
    height:2px;
    margin-top:0;
    margin-bottom:30px;
}
.applications_items-change_margin{
    margin-bottom: 30px;
    background-color: #9688E7;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    width:193px;
    height:38px;
    text-align: center;
    line-height: 38px;
    color:#FFFFFF;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top:43px;
    position: relative;
    margin-bottom:47px;

    
}
.office-exit_btn-block{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.office-exit_btn-block::before{
    content: '0';
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width:21px;
    height:21px;
    border-radius: 50%;
    z-index: 4;
    bottom:20px;
    left:20px;
    color: #ffffff;
    background-color:#FF4545 ;
    
    background-repeat: no-repeat;
  
  }

.footer_social-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width:174px;
    gap:39px;
}
.support{
    text-decoration: none;
    
    display: block;
    width: 174px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    

}

.events_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:21px;
    list-style-type: none;
    margin-bottom: 731px;
}

.events_header{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    color: #000000;
    
    margin-bottom:115px;
}

.events_one-img{
    background-image: url('../img/events_one-img.jpg');
    width: 366px;
    height: 366px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.events_two-img{
    background-image: url('../img/event_two-img.jpg');
    width: 366px;
    height: 366px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}



.events_three-img{
    background-image: url('../img/event_three-img.jpeg');
    width: 366px;
    height: 366px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.events_text{
    width: 366px;
    height: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin:0 auto;

    
}

.footer_wrap{
    
    display: flex;
    justify-content:space-around;
    margin-top:208px;
    align-items: center;
    
    margin-right:-37px;
    margin-left: -37px;
    background: #7D77A5;
    
}
.logo_img{
    width:260px;
    height:78px;
}
.logo_items{
    margin-left:15px;
    
    

}
.contacts_wrap{
    /* display: flex;
    flex-direction: column; */
    list-style-type: none;
    position: relative;
}
.contacts_items-phone, .contacts_items-email, .contacts_items-address{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #1E1E1E;
    padding-top:19px;
    


}

.contacts_items-phone::before{
content:url('../img/phone.png');
width:15px;
height: 15px;
cursor: pointer;
position:absolute;
color: #1E1E1E;
right:170px;
top:18px;


}

.contacts_items-email::before{
position:absolute;
content:url('../img/email_footer.png');
width:15px;
height: 15px;
cursor: pointer;
right:170px;
top:50px;
color: #1E1E1E;
   
}

.contacts_items-address::before{
position:absolute;
content:url('../img/label.png');
width:15px;
height: 15px;
cursor: pointer;
right:170px;
top:75px;
color: #1E1E1E;

}
.visit_btn{
    display: block;
    width: 173px;
    height: 61px;
    
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 61px;
    margin:0 auto;
    margin-top:57px;
    margin-bottom:731px;
    
}
.footer_social-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width:174px;
    gap:39px;
}
.support{
    text-decoration: none;
    
    display: block;
    width: 174px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    

}