body{
    background-image: url('../img/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.container{
    padding-left:150px;
    padding-right:150px;
}

.exit_items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    border-left:2px solid  #313131;
    padding-left:5px;
    vertical-align: middle;
    padding-top:5px;
    
}
.office_items::before{
  content: url('../img/email.png'); 
  width:27px;
  height:20px;
  color: #313131;
  vertical-align: middle;
  padding-right:20px;
  background-repeat: no-repeat;

}
hr{
    display: block;
    background:#313131;
    height:2px;
    margin-top:0;
    margin-bottom:30px;
}
.applications_items-change_margin{
    margin-bottom: 30px;
    background-color: #9688E7;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    width:193px;
    height:38px;
    text-align: center;
    line-height: 38px;
    color:#FFFFFF;
}
office_items::before{
    content: url('../img/email.png'); 
    width:27px;
    height:20px;
    color: #313131;
    vertical-align: middle;
    padding-right:20px;
    background-repeat: no-repeat;
  
  }
  
  .office_items{
      position: relative;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      color: #313131;
      text-decoration: none;
      padding-right: 5px;
  }
  
  .exit_items{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      color: #313131;
      text-decoration: none;
      border-left:2px solid  #313131;
      padding-left:5px;
      vertical-align: middle;
      padding-top:5px;
      
  }
  .office_items::before{
    content: url('../img/email.png'); 
    width:27px;
    height:20px;
    color: #313131;
    vertical-align: middle;
    padding-right:20px;
    background-repeat: no-repeat;
  
  }

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top:43px;
    position: relative;
    margin-bottom:47px;

    
}

.volunters_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    margin: 0 auto;
    
}
.volunteers{
    display: flex;
    justify-content: space-between;
    margin-top:65px;

}

.office-exit_btn-block{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.office-exit_btn-block::before{
    content: '0';
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width:21px;
    height:21px;
    border-radius: 50%;
    z-index: 4;
    bottom:20px;
    left:20px;
    color: #ffffff;
    background-color:#FF4545 ;
    
    background-repeat: no-repeat;
  
  }
  .filter-btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    background: #9688E7;
    border-style: none;
    cursor:pointer;

    border-radius: 15px;
    }
    .filter-btn::before{
        content: url('../img/filter.png'); 
        width:23px;
        height:23px;
        color: #313131;
        vertical-align: middle;
        padding-right:5px;
        background-repeat: no-repeat;
    }


    .filter_block{
        display:flex;
        justify-content: flex-end;
    }
.empty{
    width:450px;
}
.volunteers_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:106px;
}
.volunteers_items{
   
    list-style-type: none;
    
}
.volunteers_img{
  
    width:270px;
    height: 270px;
   
    cursor: pointer;
}


.help_disabled{
    background-image: url('../img/help_disabled.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.help_grandfather{
    background-image: url('../img/help_grandfather.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.help_pc{
    background-image: url('../img/help_pc.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.help_disabled-two{
    background-image: url('../img/help_disabled-two.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.help_disabled-three{
    background-image: url('../img/help_disabled-three.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.buy{
    background-image: url('../img/buy.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.children_help{
    background-image: url('../img/children_help.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}

.communication_help{
    background-image: url('../img/communication_help.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}
.events_links{
    display:block;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
}
.stars_img{
    background-image: url('../img/star.png'); 
    background-repeat: repeat-x;
    background-position-y: 10px;
    margin-left: 10px;
    margin:0 auto;
    width:135px;
    height: 98px;
    
}
.btn_wrap{
    display: flex;
    justify-content: flex-end;
    margin-top:42px;
   
}
.volunteers_btn{
    width: 180px;
    height: 61px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    background-image:linear-gradient(to right, #FFCD29, #DE9322);
    text-transform: uppercase;
}
.partners_lit{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    list-style-type: none;
    width:450px;
    margin-top:387px;
    margin-bottom: 93px;

}
.gosuslugi_style{
    align-self:stretch;
    padding-top:50px;
}
.partners_wrap{
    display: flex;
    justify-content:space-around
}
.support_btn{
    display: block;
    width:174px;
    height: 46px;
    cursor: pointer;
    margin-top:420px;
    margin-bottom: 93px;
    background-image:linear-gradient(to right, #FFCD29, #DE9322);
    border: none;
    text-transform: uppercase;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.description{
    font-family: 'Inter';
    width:270px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;


}
.footer_wrap{
    
    display: flex;
    justify-content:space-around;
    margin-top:208px;
    align-items: center;
    
    
    background: #7D77A5;
    
}
.logo_img{
    width:260px;
    height:78px;
}
.logo_items{
    margin-left:15px;
    
    

}
.contacts_wrap{
    /* display: flex;
    flex-direction: column; */
    list-style-type: none;
    position: relative;
}
.contacts_items-phone, .contacts_items-email, .contacts_items-address{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #1E1E1E;
    padding-top:19px;
    font-weight: 700;
    


}

.contacts_items-phone::before{
content:url('../img/phone.png');
width:15px;
height: 15px;
cursor: pointer;
position:absolute;
color: #1E1E1E;
right:180px;
top:18px;



}

.contacts_items-email::before{
position:absolute;
content:url('../img/email_footer.png');
width:15px;
height: 15px;
cursor: pointer;
right:185px;
top:50px;
color: #1E1E1E;
   
}

.contacts_items-address::before{
position:absolute;
content:url('../img/label.png');
width:15px;
height: 15px;
cursor: pointer;
right:180px;
top:75px;
color: #1E1E1E;

}
.visit_btn{
    display: block;
    width: 173px;
    height: 61px;
    
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 61px;
    margin:0 auto;
    margin-top:57px;
    margin-bottom:731px;
    
}
.footer_social-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width:174px;
    gap:39px;
}
.support{
    text-decoration: none;
    
    display: block;
    width: 174px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    

}



@font-face {
    font-family: "inter";
    src: url("inter.woff") format("woff"),
    url("/fonts/inter") format("woff");
    font-weight: normal;
    font-style: normal;
    
  
    
    }