*{
    padding:0;
    margin:0;
}

body{

    background-image: url('../img/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
    
    
}

.container{
    max-width:1440px;
    margin:0 auto
  
    
}
.header-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:71px;
    position: relative;
    margin-bottom:147px;

    
}
.search{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 20px;
    width:463px;
    align-items: center;
    background-color: #9688E7;
    cursor: pointer;
}
.search_img{
    vertical-align: middle;
    position:absolute;
    top:15px;
    left:20px;

}

.site-search{
    width:336px;
    height: 37px;
    padding-left:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border:none;
}
.search-img_block{
    line-height: 37px;
}
.logo_wrap{
    padding-top:20px;
    padding-left:150px;
}

.registration_header{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    color: #1E1E1E;

}

.registration{
  
    margin-top:62px;
}
.field_header{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    

    
}

.info_block{
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
}
.form-group_block{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    
}
.registration-img_block{
    width: 333px;
    height: 333px;
    border-radius: 18px;
    background-color:#D2CCF2;
    text-align: center;
    line-height: 333px;
    color:#757575;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    margin-right: 53px;
    cursor: pointer;
    margin-top:46px;
}

.fio{

    width: 177px;
    height: 57px;
    left: 633px;
    background: #FFFFFF;
    border: 2px solid #DE9322;
    border-radius: 20px;
    text-align: center;
}
.before_star-block{
    position: relative;
    
}
.items_info-block{
    position: relative;
}
.items_info-block::before{
    content:'';
    color: #FF0000;
    left:0;
    top:5px;
    position: absolute;
    width:10px;
    height:10px;
    background-image: url('../img/star-red.png');
}
.before_star-block::before{
    top:5px;
    content:'';
    color: #FF0000;
    right:175px;
    position: absolute;
    width:10px;
    left:0;
    height:10px;
    background-image: url('../img/star-red.png');
}
.fio_block{
    display: flex;
    justify-content: space-between;
}
.input_items{
    text-align: center;
    width: 560px;
    height: 57px;
    border: 2px solid #DE9322;
    border-radius: 20px;
    background: #FFFFFF;
    margin-top:15px;
}
.data{
    width: 560px;
    height: 57px;
}
.gender_block{
    display: flex;
    justify-content: space-between;
}
.gender_check-feminine{
    background: linear-gradient(180deg, rgba(96, 169, 255, 0) 0%, rgba(58, 231, 255, 0) 100%);
    border-radius: 15px;
    width: 270px;
    height: 57px;
    color:#FF617D;
    cursor: pointer;
}
.gender_male_change-color{
    background: linear-gradient(180deg, #60A9FF 0%, #3AE7FF 100%);
    width: 270px;
    cursor: pointer;
    height: 57px;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}
.gender_feminine_change-color{
     background: linear-gradient(180deg, #FF617D 0%, #9688E7 100%);
    width: 270px;
    cursor: pointer;
    height: 57px;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}
.gender_check-male{
    background: linear-gradient(180deg, rgba(96, 169, 255, 0) 0%, rgba(58, 231, 255, 0) 100%);
    border-radius: 15px;
    color:#3A95FF;
    width: 270px;
    cursor: pointer;
    height: 57px;
    background: #FFFFFF;
    border: 2px solid #DE9322;
    border-radius: 20px;
}

.textarea_registration{
    width: 946px;
    height: 246px;
    border: 2px solid #DE9322;
    border-radius: 20px;
    margin-top:71px;
    margin-bottom:64px;
    padding:14px 20px;
    padding:14px 20px;
    color: #757575;
    }
    .registration_btn{
        width: 260px;
        height: 65px;
        background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
        border-radius: 20px;
        color:#ffffff;
        border:none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
       
    }
    .registration_btn-block{
        display: flex;
        justify-content: center;
        
    }
    .add-info_block{
        display: flex;
        justify-content: center;
    }
    /* .message{
        position:absolute;
        color:red;
    } */
.personal-info_wrap{
    display:flex;
    justify-content: center;
    width: 660px;
    height: 54px;
    margin:0 auto;
    align-items:center;
  
}

    .personal-info_text{
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color:#000000;
        width: 745px;
        height: 54px;
        
    }
    .text_color{
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color:#ED2E2E;
        
    }
    .personal-info_wrap{
        display: flex;
    }
    .radio_info{
        width: 23px;
        height: 23px;
        margin-right: 24px;
    }


    
    .logo_img{
        width:260px;
        height:78px;
    }
    .logo_items{
        margin-left:45px;
        margin-right:45px;
        

    }
    
    .footer_wrap{
    
        display: flex;
        justify-content:space-around;
        margin-top:208px;
        align-items: center;
        
        
        background: #7D77A5;
        
    }
    .logo_img{
        width:260px;
        height:78px;
    }
    .logo_items{
        margin-left:15px;
        
        
    
    }
    .contacts_wrap{
        /* display: flex;
        flex-direction: column; */
        list-style-type: none;
        position: relative;
    }
    .contacts_items-phone, .contacts_items-email, .contacts_items-address{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: #1E1E1E;
        padding-top:19px;
        
    
    
    }
    
    .contacts_items-phone::before{
    content:url('../img/phone.png');
    width:15px;
    height: 15px;
    cursor: pointer;
    position:absolute;
    color: #1E1E1E;
    right:170px;
    top:18px;
    
    
    }
    
    .contacts_items-email::before{
    position:absolute;
    content:url('../img/email_footer.png');
    width:15px;
    height: 15px;
    cursor: pointer;
    right:170px;
    top:50px;
    color: #1E1E1E;
       
    }
    
    .contacts_items-address::before{
    position:absolute;
    content:url('../img/label.png');
    width:15px;
    height: 15px;
    cursor: pointer;
    right:170px;
    top:75px;
    color: #1E1E1E;
    
    }
    .visit_btn{
        display: block;
        width: 173px;
        height: 61px;
        
        background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        line-height: 61px;
        margin:0 auto;
        margin-top:57px;
        margin-bottom:731px;
        
    }
    .footer_social-list{
        display: flex;
        justify-content: center;
        list-style-type: none;
        width:174px;
        gap:39px;
    }
    .support{
        text-decoration: none;
        
        display: block;
        width: 174px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;
        background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        
    
    }